flask-restful>=0.3.4,<0.4.0
flask-socketio>=0.6.0,<0.7.0
flask-sqlalchemy>=2.0,<=2.1,
flask-user>=0.6.7,<0.7.0,
MySQL-python>=1.2.5

# having trouble installing mysql-python?
# be sure you've followed the steps here: http://stackoverflow.com/a/25491082/996249

### Useful extensions for the future
# flask-JWT>=0.2.0,<0.3.0
